# Dividindo os campos

In [3]:
import pandas as pd

In [4]:
# Lendo o arquivo CSV e carregando para "data"
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

In [5]:
# Imprimindo Original no Console
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [6]:
data.dropna(inplace = True)

In [7]:
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0

In [10]:
new = data["Name"].str.split(" ", n = 1, expand = True)

In [11]:
new.head()

        0        1
0   Avery  Bradley
1     Jae  Crowder
3    R.J.   Hunter
6  Jordan   Mickey
7   Kelly   Olynyk

In [12]:
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0

In [13]:
data["First Name"]= new[0]
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,First Name
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Avery
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Jae
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,R.J.
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,Jordan
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,Kelly

In [14]:
data["Last Name"]= new[1] 
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,First Name,Last Name
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Avery,Bradley
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Jae,Crowder
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,R.J.,Hunter
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,Jordan,Mickey
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,Kelly,Olynyk

In [19]:
data.drop(columns =["Name"], inplace = True)

In [20]:
data.head()

,Team,Number,Position,Age,Height,Weight,College,Salary,First Name,Last Name
0,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Avery,Bradley
1,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Jae,Crowder
3,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,R.J.,Hunter
6,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,Jordan,Mickey
7,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,Kelly,Olynyk